{% extends 'base.html' %} {% block title %}Add Blog{% endblock title %} {% block content %} 
{% if user.is_authenticated %}
<h1>ADD BLOG</h1>
<hr />
<br />
<div class="form-group">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} {{form.as_p}} {{form.media}}
    <button class="btn btn-secondary">Post</button>
  </form>
</div>
<script>
  var name = "{{user.id}}";
  document.getElementById('authorName').value = name;
</script>

{% else %}
<h1>You Are Not Allowed To Add Blog</h1>
{% endif %} {% endblock content %}
