{% extends 'base.html' %} {% block title %}Delete -{{post.title}} {% endblock title %} 
{% block content %}


{% if user.is_authenticated %}
<h1>Delete Blog - {{post.title}}</h1>
<hr />
<br />
<form method="post">
  {% csrf_token %}
  <strong>Are you sure?!!</strong><br />
  <button class="btn btn-secondary mx-1" href="{% url 'blogpost' post.pk %}">
    Back
  </button>
  <button class="btn btn-danger mx-1">Delete</button>
</form>
{% else %}
<h1>You Are Not Allowed To Delete This Post</h1>
{% endif %} {% endblock content %}
