{% extends 'base.html' %} {% load static %} 
{% block title %}Home Page{%endblock title %} {% block content %}
<h1>User Profile...</h1>
<hr />
<br />



<div class="card mb-10">
  <div class="row no-gutters">
    <div class="col-md-2">
      {% if page_user.profile_pic %}
      <img
        class="card-img mt-2 mx-2"
        src="{{page_user.profile_pic.url}}"
        width="100"
        height="100"
      />
      {% else %}
      <img class="card-img" src="{% static 'blog/images/profile.png' %}" />
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          {{page_user.user.first_name}} {{page_user.user.last_name}}
        </h5>
        <div class="d-flex flex-row">
          {% if post.author.profile.website_url %}
          <div class="p-1">
            <a href="{{page_user.website_url}}"
              ><img
                src="https://img.icons8.com/ios-glyphs/30/000000/domain.png"
            /></a>
          </div>
          {% endif %} {% if page_user.youtube_url %}
          <div class="p-1">
            <a href="{{page_user.youtube_url}}"
              ><img
                src="https://img.icons8.com/ios-glyphs/30/000000/youtube-play.png"
            /></a>
          </div>
          {% endif %} {% if page_user.insta_url %}
          <div class="p-1">
            <a href="{{page_user.insta_url}}"
              ><img
                src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"
            /></a>
          </div>
          {% endif %} {% if page_user.facebook_url %}
          <div class="p-1">
            <a href="{{page_user.facebook_url}}"
              ><img
                src="https://img.icons8.com/ios-glyphs/30/000000/facebook-new.png"
            /></a>
          </div>
          {% endif %} {% if page_user.twitter_url %}
          <div class="p-1">
            <a href="{{page_user.twitter_url}}"
              ><img
                src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"
            /></a>
          </div>
          {% endif %}
        </div>
        <p class="card-text">{{page_user.bio}}</p>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
